
.site-header {
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:2em;
    padding-left:5%
}

.site-header>a:link, a:visited{
    color:black;
    text-decoration:none;
}

.site-header>a:hover, a:active {
    font-style:italic
}

.site-content { 
    display:block;
    padding:3% 8% 3% 8%;
    font-family: Arial, Helvetica, sans-serif;
    color:dimgray
}

.site-content a:link, a:visited {
    color:black;
}

.site-content a:hover, a:active { 
    font-style:italic
}

.site-content p {
    white-space: pre-line;
}

.site-content code {
    display:block;
    height: 200px;
    overflow-x:hidden;
    overflow-y:scroll;
    resize:vertical;

}

.text-small {
    font-size:small;
}